.side-video {
  display: flex;
  flex-direction: column;
      flex:1;

    @include media-max-width(Desktop, 4, 3);

  &__title {
    @extend %paragraph-label;
    color: $text-label-fill;
    text-transform: uppercase;
    margin: 4rem 0;
  }
}
