.main {
  @extend %padding--mobile;
  @extend %padding--tablet;
  @extend %padding--desktop;

  display:flex;
  flex-direction: column;

  @media #{$Desktop} {
    flex-direction: row;
  }
}

.section{
  @media #{$Desktop}{
    margin-right: 2.4rem;

  }

  @media #{$Desktop} {
    border-right: 1px solid $field-border;
    padding-bottom: 2.4rem;
  }
}