.video {

  @extend %padding--tablet;
  @extend %padding--desktop;
  position: relative;



  background: black;

  &__media {

    object-fit: cover;
    @media #{$Tablet} {
      padding: 0 1.0rem;
    }

    @media #{$Desktop} {
      padding: 0 $column--desktop;
    }



  }


}