//Video component specific stylings
.video {
  @extend %padding--tablet;
  @extend %padding--desktop;
  position: relative;
  background: black;

  &__media {
    object-fit: cover;
    height: 18.3rem;

    @media #{$Tablet} {
      padding: 0 1rem;
      height: 40rem;
    }

    @media #{$Desktop} {
      padding: 0 $column--desktop;
      height: 54rem;
    }
  }
}
