//Comment section speicific styling
.section--comments {
  flex: 1;
  
  @media #{$Desktop} {
    width: 71.2rem;
  }
} 

//Comment component speicific styling
.comments {
  max-width: 100%;

  &__flex {
    @extend %bottom-divider;
    padding-bottom: 2.4rem;
    display: flex;
    
    @media #{$Tablet} {
      padding-bottom: 0.8rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @extend %header-section;
    padding-bottom: 4.0rem;
    color: $paragraph-text;
  }

//Start of img styles
  &__img {

    &--small {
      width: 36px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &--large{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-top: 1.9rem;
      margin-right: 1.6rem;
    }

    &--posted {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 10px;
    }
  } //End of img styles

  &__form {
    display: flex;
    flex-direction: column;

    @media #{$Tablet} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__label {
    @extend %paragraph-label;
    color: $text-label-fill;
    text-transform: uppercase;

    @media #{$Tablet} {
      width: 100%;
    }
  }

  //Start of Input styles
  &__input {
    @extend %paragraph-regular;
    color: $paragraph-text;
    background: $text-field-bg-fill;
    padding: 8px;
    border: 1px solid $text-label-fill;
    border-radius: 4px;
    margin-bottom: 1.6rem;
    height: 48px;

    @media #{$Tablet} {
      flex:1;
    }

    &::placeholder {
      color: $paragraph-text;
      opacity: 1;
    }

    &:focus {
      border: 3px solid $primary-cta;;
    }

    &--comment {
      resize: vertical;
    }
  }

  &__submit {
    @extend %buttons;
    cursor: pointer;


    @media #{$Tablet} {
      margin-right: 40px;
      margin-left: 16px;
      width: 160px;    
    }

    &:active,
    &:hover {
      background: $primary-cta-hover;
    }

  } //End of Input styles

  //Dynamically generated element by React
  &__posted-comment {
    @extend %bottom-divider;
    display: flex;
    padding: 2.4rem 0;
  }

  &__bottom-wrapper {
    margin-top: 2.4rem;
    display: flex;
    justify-content: baseline;
  }
}  //End of Comments component


//Dynamically generated elements by React
//Start of Content component
.content {
    display:flex;
    flex-direction: column;
    flex:1;
    max-width: 100%;


  &__flex {
    display: flex;
    @extend %paragraph-regular; 
  }

  &__username {
    @extend %header-sub;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    color: $paragraph-text;
  }

  &__date {
    @extend %paragraph-regular;
    color: $text-label-fill;

    @media #{$Tablet} {
      margin-left: 0;
    }
  }

  &__delete {
    @extend %paragraph-regular;
    @include font-family(AvenirDemiBold);
    background: $primary-cta;
    margin-right: 2.4rem;

    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: auto;
    opacity: 0; 
    transition: all 0.25s;

    &:focus {
      opacity: 1; 
      transition: all 0.25s;
    }

    &:hover {
      background: $primary-cta-hover;
    }
  
    &--hover {
      transition: all 0.25s;
      opacity: 1;
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__like {
    @extend %paragraph-regular;
    @include font-family(AvenirDemiBold);
    background: $primary-cta;
    margin-right: 2.4rem;

    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.25s;

    &:focus {
      opacity: 1; 
      transition: all 0.25s;
    }

    &:hover {
      background: $primary-cta-hover;
    }

  }

  &__like-counter {
    @extend %paragraph-regular;
    padding: 5px 10px;
    margin-right: auto;
  }
  
  &__comment {
    @extend %paragraph-regular;
    color: $paragraph-text;

    @media #{$Tablet} {
      max-width: 62.4rem;
    }
  }

  &__no-comment {
    @extend %header-sub;
    color: $paragraph-text;
    margin-top: 3.6rem;
    text-align: center;
  }
} //End of Content component

